*{
    margin: 0px;
    padding: 0px;
}

header{
    border: 1px solid red;
    padding-top: 16px;

   
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}







/* Nav bar codes start here */

nav{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    background-color: FFFFFF;
}

nav .logo img{
    width: 100%;
    max-width:139px;
}


nav .menu ul {
    border: 1px solid red;
    font-size:16px ;
   font-weight: 500;
   color: #000000;
    max-width: 367px;
    list-style: none;
    display: flex;
    align-items: center;
    gap:32px;
}

nav .menu ul li a{
   text-decoration: none;
   color:#000000 ;
}

nav .btn button{
    max-width: 164px;
    color: #FFFFFF;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding:12px 16px
}
nav .btn button:hover{
    background-color: rgba(0, 240, 108, 0.829) ;
}

/* nav bar code end here */


/* hero section code start here */

#hero{
    border: 1px solid green;
    max-width: 1360px;
    margin:0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
    gap: 16px;
     
}

     

#hero .upper-button button{
    max-width: 229px;
   
    border: none;
    border-radius: 100px;
     background-color: #FFFFFF;
     color:#469165;
       border: 1px solid red;
     
}

#hero p{
    text-align: center;
    
}

#hero .lower-button {
     margin-top: 16px; }
     

#banner{
    
      
      background-size: 2042px;
      border: 1px solid red;
      background-image: url(/Assignment-one/assets/hero-bg.png);
     background-position:center ;
   
    background-repeat: no-repeat;
    padding: 70px 120px 134px 120px;
}

