* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  margin: 0;
  padding-top: 16px;
  border: 1px solid red;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Nav bar codes start here */

nav {
  width: 100%;
  max-width: 1600px;

  margin: 0 120px 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
  background-color: #ffffff;
}

nav .logo img {
  width: 100%;
  max-width: 139px;
}

nav .menu ul {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  max-width: 367px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}

nav .menu ul li a {
  text-decoration: none;
  color: #000000;
}

nav .btn button {
  max-width: 164px;
  color: #ffffff;
  background-color: #469165;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
}
nav .btn button:hover {
  background-color: rgba(0, 240, 108, 0.829);
}

/* nav bar code end here */

/* hero section code start here */

#hero {
  border: 1px solid green;
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

#hero .upper-button {
}

#hero .upper-button button {
  max-width: 229px;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
  display: flex;
  gap: 6px;

  align-items: center;
  border: none;
  border-radius: 1000px;
  background-color: #ffffff;
  color: #469165;
  /* border: 1px solid red; */
}
#hero .upper-button button:hover {
  background-color: beige;
}

#hero p {
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}

#hero .lower-button {
  width: 100%;
  max-width: 465px;
  margin-top: 16px;
  display: flex;
  gap: 16px;
}

#hero .lower-button .B1 {
  width: 251px;
  border-radius: 4px;

  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 10px;
  background-color: #469165;
  padding: 12px 16px 12px 16px;
}

#hero .lower-button .B1:hover {
  background-color: rgb(121, 146, 230);
}

#hero .lower-button .B2:hover {
  background-color: powderblue;
}

#hero .lower-button .B2 {
  width: 198px;

  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 10px;

  background-color: #ffffff00;
  padding: 12px 16px 12px 16px;
}

#banner {
  border: 1px solid red;
  margin-top: 16px;
  padding: 70px 120px 134px 120px;
  background-image: url(/Assignment-one/assets/hero-bg.png);
  background-position: center bottom;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#banner .line {
  width: 770px;
  border: 1px solid rgb(65, 211, 126);
  white-space: nowrap;
}

#banner .line .A {
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-align: center;
}
#banner .line .B {
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  color: #30b868;
}
/* hero section code ends here */

/* main section codes start here */

main #upper-section {
  width: 1600px;
  border: 1px solid blue;
  margin: 0 120px;
}

main #upper-section .Above {
  height: 152px;
  border: 1px solid rgb(60, 228, 97);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

main #upper-section .Above h1 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
}

main #upper-section .Above p {
  font-size: 16px;
  color: #627382;
}

main .card-section {
  margin-top: 44px;
  border: 1px solid red;

  display: flex;
  justify-content: space-between;
  gap: 24px;
}

main .card-section .card {
  width: 100%;
  max-width: 322px;
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 0px 8px 0px #00000025;

  border-radius: 8px;
  flex-direction: column;

  align-items: center;
  text-align: center;
  padding: 24px;
}
.card .box {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f95555;
  display: flex;

  align-items: center;
  justify-content: center;
}

.card img {
  width: 32px;
  height: 32px;
}

.card h4 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;

  margin: 16px 0px;
}

.card p {
  font-size: 16px;
  color: #627382;
}
