*{
    margin: 0px;
    padding: 0px;
}

header{
    border: 1px solid red;
    padding-top: 16px;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}









nav{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    background-color: FFFFFF;
}

nav .logo img{
    width: 100%;
    max-width:139px;
}








nav .menu ul {
    border: 1px solid red;
    font-size:16px ;
   font-weight: 500;
   color: #000000;
    max-width: 367px;
    list-style: none;
    display: flex;
    align-items: center;
    gap:32px;
}

nav .menu ul li a{
   text-decoration: none;
   color:#000000 ;
}

nav .btn button{
    max-width: 164px;
    color: #FFFFFF;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding:12px 16px
}
nav .btn button:hover{
    background-color: rgba(0, 240, 108, 0.829) ;
}
