* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* ------header codes start from here------------- */
header {
 
  margin: 0;
  padding-top: 16px;
  
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/*----------- Nav bar codes start here ----------------*/

nav {
  width: 100%;
   max-width: 1600px;

  margin: 0 auto;
  padding: 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  background-color: #ffffff;
}

nav .logo img {
  width: 100%;
  max-width: 139px;
}

nav .menu ul {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  max-width: 367px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}

nav .menu ul li a {
  text-decoration: none;
  color: #000000;
}

nav .btn button {
  max-width: 164px;
  color: #ffffff;
  background-color: #469165;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
}
nav .btn button:hover {
  background-color: rgba(0, 240, 108, 0.829);
}

/* nav bar code end here */

/* hero section code start here */

#hero {
 
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

#hero .upper-button {
}

#hero .upper-button button {
  max-width: 229px;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
  display: flex;
  gap: 6px;

  align-items: center;
  border: none;
  border-radius: 1000px;
  background-color: #ffffff;
  color: #469165;
  
}
#hero .upper-button button:hover {
  background-color: beige;
}

#hero p {
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}

#hero .lower-button {
  width: 100%;
  max-width: 465px;
  margin-top: 16px;
  display: flex;
  gap: 16px;
}

#hero .lower-button .B1 {
  width: 251px;
  border-radius: 4px;

  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 10px;
  background-color: #469165;
  padding: 12px 16px 12px 16px;
}

#hero .lower-button .B1:hover {
  background-color: rgb(121, 146, 230);
}

#hero .lower-button .B2:hover {
  background-color: powderblue;
}

#hero .lower-button .B2 {
  width: 198px;

  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 10px;

  background-color: #ffffff00;
  padding: 12px 16px 12px 16px;
}

#banner {
  
  margin-top: 16px;
  padding: 70px 120px 134px 120px;
  background-image: url(/Assignment-one/assets/hero-bg.png);
  background-position: center bottom;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#banner .line {
  width: 770px;
 
  white-space: nowrap;
}

#banner .line .A {
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-align: center;
}
#banner .line .B {
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  color: #30b868;
}
/*--------- hero section codes ends here -------------*/
/* ------------header codes end here----------------- */



/*---------main section codes start here ---------*/

/* ------Upper part codes start here------------ */
main #up{
  background-color: #fafafa81;
}
main #upper-section {
  max-width: 1360px;

  margin: 0 auto;
}

main #upper-section .Above {
  height: 152px;


  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

main #upper-section .Above h1 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
}

main #upper-section .Above p {
  font-size: 16px;
  color: #627382;
}

main .card-section {
  max-width: 1360px;
  margin-top: 44px;
  

  display: flex;
  justify-content: space-between;
  gap: 24px;
}

main .card-section .card {
  width: 100%;
  max-width: 322px;
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 0px 8px 0px #00000025;

  border-radius: 8px;
  flex-direction: column;

  align-items: center;
  text-align: center;
  padding: 24px;
}
.card .box {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f95555;
  display: flex;

  align-items: center;
  justify-content: center;
}

.card img {
  width: 32px;
  height: 32px;
}

.card h4 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;

  margin: 16px 0px;
}

.card p {
  font-size: 16px;
  color: #627382;
}

/* ---------upper part codes end here -------------*/


/*----------- Middle part codes start here -------*/

main #middle .middle-part{
  width: 100%;
  padding: 0 120px 0px 120px;
  background-color: #FFFFFF;
 
  
}

.middle-part-contents{
  width: 100%;
  max-width: 1360px;
  margin: 120px auto;
 
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}
.image{
  width: 600px;
  height: 600px;
  border-radius: 12px;
  
}

.description{
  max-width: 700px;

  margin:auto 0;

}

.description h6 span{
  color:#30B868;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;

}

.description h2{
  color:#001931;
  font-size: 48px;
  font-weight: 700;
 margin-bottom: 16px;
}
.description p{
  color:#627382;
  font-size: 16px;
   line-height: 20px;
margin-bottom: 40px;
}

 .lists ul {
  display: flex;
  flex-direction: column;
  gap:16px;
  
 }
 .lists ul li{
  display: flex;
  flex-direction: row;
  gap:6px;
  
 }
/* -----------Middle section codes ends here-------- */


 /* ------last section code start here------- */
 
 main #last-section .last-part{
   background-color:#FFFFFF;
   width:100%;
  
 }
.last-part-contents{
background-color: #F7F6F2;
border-radius: 12px;
max-width: 1360px;
margin: 0 auto;
padding: 80px 40px;

}

.heading{
margin:0 auto;
max-width: 1280px;

box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
.heading h2{
color: #001931;
font-size: 40px;
font-weight: 700;
margin-bottom: 16px;

}

.heading p, .btn2 p{
  font-size: 16px;
  color: #627382;
  
}










.btn2{
  max-width: 1280px;
  margin-top: 24px;
 
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

 
}

.btn2 button{
  max-width:194px ; 
  color:#FFFFFF;
  font-size: 16px;
  font-weight: 600;
  background-color: #469165;
  margin-bottom: 16px;
  padding: 12px 16px 12px 16px;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn2 button:hover{
    background-color: #627382;
}
/*---------- last section code ends here -----------*/

/*------------ Main section code ends here-------- */



/* ----------Footer section codes start here--------------- */
.footer-section{
width:100%;
margin-top: 120px;
 background-color: rgb(3, 44, 83);

padding: 120px 120px 30px 120px;


}

.first{
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.links{
  max-width: 220px;

 
  
}
.links ul{
  display: flex;
  gap:16px;
  padding-right: 128px;
}
.links p{
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 16px;
   padding-right: 107px;
}

.last{
  border-top: 1px solid  rgba(229, 231, 235, 0.568);
 width: 100%;
margin-top: 80px;

}
.last p{
  font-size: 16px;
  color: #FAFAFA;
  text-align: center;
  padding-top: 30px;
}
/* ---------Footer sectio codes end here --------------------*/
